@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Signika&display=swap');
*{
  font-family: 'Caveat', cursive;
  font-family: 'Signika', sans-serif;
}
.container h2 {
  text-align: center;
  margin: 25px auto;
}

.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}

.submit-form {
  max-width: 300px;
  margin: auto;
}

.edit-form {
  max-width: 300px;
  margin: auto;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
  
}